.button{
    background:$secondary;
    border:3px solid $secondary;
    transition:all 0.2s;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    padding:14px 34px;
    font-weight:bold;
    font-size:15px;
    line-height:20px;
    text-align:center;
    min-width:240px;
    text-transform: uppercase;
    &:hover{
        background:#fff;
        color: $secondary;
        text-decoration:none;
    }
}
.button--read-more{
    transition:all 0.2s linear;
    cursor:pointer;
    color:$textDark;
    font-weight:600;
    font-size:12px;
    line-height:20px;
    text-transform: uppercase;
    &:after{
        content: "";
        background-image: url(../images/adk-icon-bulta-right.svg);
        padding: 0px 10px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 8px;
        transition:all 0.2s ease-in-out;
        position: relative;
        left: 0;
    }
    &:hover{
        color: $secondary;
        text-decoration:none;
        &:after{
            content: "";
            background-image: url(../images/adk-icon-bulta-right-red.svg);
            left: 10px;
            
        }

    }
    
}
.button--light{
    cursor: pointer;
    font-size: 10px;
    border:1px solid $gray;
    color: $secondary !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 10px;
    transition: all 0.1s ease-in-out;
    &:hover{
        color: #fff !important;
        border-color:$secondary;
        background-color: $secondary;
    }
}
.readmore-text{
    font-weight: 600;
    color: $secondary  !important;
    color: #C53027;
    font-size: 13px;
    display: block;
    text-align: right;
    &:hover{
        text-decoration: underline;
    }
}
.slick-arrow{
    width: 50px;
    z-index: 100;
    background-color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #b7b7b7;
    transition: all 0.2s ease-in-out;
    opacity: 1 !important;
    position: absolute;
    z-index: 1;
    &:before{
        color:#b7b7b7;
        opacity: 1 !important;
    }
    &:hover{
        background-color: $secondary;
        border-color: $secondary;
        opacity: 1;
        &:before{
            color:#fff;
            opacity: 1;
        }
    }
}
.slick-next{

    right: 15px;
    &:before{
        content: "";
        background-image: url(../images/adk-icon-bulta-right.svg);
        height: 7px;
        width: 15px;
        position: absolute;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
     &:hover{
        &:before{
            content: "";
            background-image: url(../images/adk-icon-bulta-right-white.svg);
        }

    }
}
.slick-prev{
    left: 15px;
     &:before{
        content: "";
        background-image: url(../images/adk-icon-bulta-right.svg);
        height: 7px;
        width: 15px;
        position: absolute;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
     &:hover{
        &:before{
            content: "";
            background-image: url(../images/adk-icon-bulta-right-white.svg);
        }

    }
}
.slick-prev, .slick-next {
    top: 42%;
}
.related-prev, .related-next {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100px;
    cursor: pointer;
    &:hover{
        background-color: $secondary;
    }
    &.slick-arrow{
        border: 1px solid #e8e8e8;
        &:hover{
            border-color:  $secondary;
        }
    }
}
.related-next{

    &:before{
        content: "";
        background-image: url(../images/adk-icon-bulta-right.svg);
        height: 7px;
        width: 15px;
        position: absolute;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
     &:hover{
        &:before{
            content: "";
            background-image: url(../images/adk-icon-bulta-right-white.svg);
        }

    }
}
.related-prev{
     &:before{
        content: "";
        background-image: url(../images/adk-icon-bulta-right.svg);
        height: 7px;
        width: 15px;
        position: absolute;
        background-repeat: no-repeat;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
     &:hover{
        &:before{
            content: "";
            background-image: url(../images/adk-icon-bulta-right-white.svg);
        }

    }
}
