.ui-datepicker {
  width: 250px;
  height: auto;
  margin: 5px auto 0;
  background-color: #fff;
  padding: 20px 15px;
  border: 1px solid $secondary;
  display: none;
  a{
  	text-decoration: none;
  }
  table{
  	width: 100%;
  }
  &-title{
  	line-height: 30px;
  	font-size: 12px;
    text-transform: uppercase;
  }
  thead{
  	height: 50px;
    text-align: center;
    font-size: 12px;
    th{
    	height: 40px;
    	text-align: center;
    	font-weight: 400;
    	color: $lighterText;
    }
    tr:nth-child(odd){
      background-color: transparent;
    }
  }
  tbody{
  	tr{
  		background-color: #fff;
  		td{
  			text-align: center;
  			border-radius: 100%;
  			height: 30px;
  			width: 30px;
  			&:hover{
  				background-color: $secondary;
  				a{
  					color: $white !important;
  				}
  			}
  		}
  		a{
  			font-weight: 400;
  			color: $textDark;
  			font-size: 13px;

  		}
  	}
  }
  &-today{
  	a{
  		color: $secondary !important;
  	}
  }
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../images/chevron.svg');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
  background-position: center;
  position: absolute;
}
.ui-datepicker-prev{
	transform: rotate(180deg);
	right: 45px;
}
.ui-datepicker-next{
	right: 15px;
}

