/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input[type=checkbox]{
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #e9e9e9;
  }

  // Box hover
  &:hover + label:before {
    background: $secondary;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: $secondary;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $secondary,
      4px 0 0 $secondary,
      4px -2px 0 $secondary,
      4px -4px 0 $secondary,
      4px -6px 0 $secondary,
      4px -8px 0 $secondary;
    transform: rotate(45deg);
  }
}

input[type=radio]{
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    padding-left: 30px;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    position: absolute;
    left: 0;
  }

  // Box hover
  &:hover + label:before {
    background: $secondary;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
       content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    background: $secondary;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
    display: block;
    width:100%;
    border: 1px solid #E1E1E1;
    font-size: 12px;
    height: 35px;
    outline: none;
    transition:all 0.2s;
    transition: all 200ms;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $text;
    -webkit-appearance: none;
    padding:5px 10px;
    &.error{
        border-color: $secondary;
    }
  &:focus{
    border: 1px solid $secondary;
  }
  &:focus + span{
    color: $secondary;
  }
  
}

textarea {
    height: 145px;
    resize: none;
}

.hidden{
    display:none!important;
}

.g-recaptcha{
    display:inline-block;
    border:1px solid #E1E1E1;
    border-radius:3px;
    overflow:hidden;
    margin-bottom:20px;
    > div{
        margin:-1px -3px -3px -1px;
    }
    &.error{
        border-color:$gray;
    }
}

.input__block{
    color: $text;
    margin:0 0 20px;
    display:block;
    font-size:12px;
    &__label{
        margin:0 0 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7D7D7D;
    letter-spacing: 1.5px;
    }
}

.req{
    color:#7D7D7D;
}

.errors-wrap{
    margin:0 0 20px;
    color:$secondary;
    font-size:12px;
    line-height:14px;
}

.contacts__form{
    position:relative;
    &:after{
        position:absolute;
        left:0;
        top:-20px;
        right:0;
        bottom:0;
        background:rgba(#fff, 0.5);
        opacity:0;
        visibility:hidden;
        transition:all, 0.2s;
        content:'';
    }
    &.loading:after{
        opacity:1;
        visibility:visible;
    }
}
.form-hidden{
  padding: 0;
  margin-top: 20px;
}
.form__status{
    margin-top: 20px;
    border: 1px solid #0a753a;
    padding: 10px 25px 10px 50px;
    line-height: 25px;
    position: relative;
    color: #0a753a;
    margin: 0 0 25px;
    &:before{
        position: absolute;
        content: '\002714';
        display: block;
        height: 100%;
        width: 25px;
        background: #0a753a;
        color: #fff;
        top: 0;
        left: 0;
        text-align: center;
        font-weight: 700;
        padding: 10px 0;
        box-sizing: border-box;
    }
    &.error{
        border-color: $secondary;
        color: $secondary;
        &:before{
            content:'!';
            background:$secondary;
        }
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

*::-webkit-input-placeholder {
    color: #fff;
    opacity: 0;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
    opacity: 0;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    opacity: 0;
}

