.product-container{
	margin-top: 50px;
	.loading-overlay{
		visibility: hidden;
		z-index: -1;
		opacity: 0.2;
		transition: all 0.2s ease-in-out;
		position: absolute;
		background-color: #fff;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    .loader{
	    	position: absolute;
		    left: 50%;
		    top: 200px;
		    transform: translateX(-50%);
	    }
	}
	&.loading{
		.loading-overlay{
			visibility: visible;
			z-index: 100;
			opacity: 0.7;
		}
	}
	a{
		&:hover{
			text-decoration: none;
		}
	}
}

.product-item{
	margin-bottom: 60px;
	padding: 20px 20px;
	transition: all 0.1s ease-in-out;

	&__term{
		font-size: 12px;
	    font-weight: 500;
	    color: #666666;
	    text-transform: uppercase;
	    height: 35px;
	}
	&__image{
	    height: 200px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	&__name{
		font-size: 14px;
    	color: #000;
    	font-weight: 600;
	}
	&:hover{
		box-shadow: 0px 0px 8px 1px #82828245;
	}
}
.related-posts{
	&__nav{
		margin-bottom: 40px;
		margin-top: 70px;
		position: relative;
		h2{
			display: inline-block;
			padding: 0;

		}
		&__controls{
			display: inline-block;
		    position: absolute;
		    right: 0;
		}
	}
	.slick-list{
		padding: 10px 6px;
	}
	

	.slick-slide{
		margin-right:10px;
    	margin-left:10px;
	}
	.product-item{
		margin-bottom: 0px;
	}
}
.single-product{
	.gallery__item_inner{
		height: 300px;
	}
	.gallery__main{
		overflow: hidden;
		.slick-list{
			top: 50%;
			overflow: hidden;
		}
		&__item{
			height: 320px;
		}
		&__inner{
			opacity: 0;
			transition: all 0.2s linear;
			&.slick-initialized{
				opacity: 1;
			}
		}
		.slick-slide{
			position:relative;
			img{
			    height: 100%;
			    margin: auto;
			}
		}
		.slick-arrow{
			border:none;
		}
	}
	.gallery__thumbs{
		margin-top: 10px;
		.slick-list{
			top: 50%;
		}
		.slick-slide{
			position:relative;
			opacity: 0.6;
			transition: all 0.1s ease-in-out;
			padding: 0px 3px;
			&.slick-current{
				opacity: 1;
			}
		}
	}

	&__info{
		padding: 30px 80px 0px 60px;
		&__item{
			margin-bottom: 10px;
			span{
				font-size: 13px;
			    font-weight: 500;
			    text-transform: uppercase;
			    color: #242626;
			    padding-right: 10px;
			}
			a{
				font-size: 13px;
			}
		}
		&__text{
			font-size: 13px;
		}
		img{
			height: 20px;
			margin-bottom: 20px;
		}
		hr{
			 margin: 40px 0px;
		}
		@media only screen and (max-width: 768px){
    		padding: 40px 0px 0 0px;
    	}
	}
	.product-extra{
		padding-top: 50px;
		&__solution-image{
 			width: 110px;
		    position: absolute;
		    float: left;
		    img{
		    	width: 100%;
		    }
		}
		&__text{
			position: relative;
		    float: left;
		    padding-left: 130px;
		    h3{
		    	font-size: 13px;
		    	color: #585858;
		    	font-weight: 600;
		    }
		    p{
				font-size: 13px;
		    	color: #585858;
		    }
		}
		@media only screen and (max-width: 768px){
	    	padding-top: 30px;
	    }
	}

	.accordion{
		.card-header{
			border: 0;
	    	background-color: unset;
	    	padding: 15px 0px 0px 0px;
		}
		.card{
			border:0;
	        border-bottom: 1px solid #e5e5e5 !important;
			padding-bottom: 15px;
		}
		h2{
			button{
				color: $secondary;
			    font-size: 14px;
			    font-weight: 600;
			    padding: 0;
			    width: 100%;
    			text-align: left;
			}
		}
		.card-body{
			padding-top: 20px;
		}
	}
}
.card{
	border-bottom:0px;
	border-radius: 0;
	&:last-child{
		border-bottom: 1px solid rgba(0,0,0,.125);
	}
}

.downloads__item{
    height: 150px;
    display: block;
    width: 140px;
    border: 1px solid #e5e5e5;
    padding: 10px 12px;
    position: relative;
		color: $text;
		&-image{
			border: none;
			width: unset;
			height: unset;
			max-width: 150px;
			&:before{
				display: none;
			} 
		}
	&__icon{
		width: 150px;
	}
	&__ext{
		width: 100%;
		display: block;
		font-weight: 400;
		font-size: 14px;
	}
	&__name{
		width: 100%;
	    display: block;
		margin-top: 15px;
		font-weight: 500;
		font-size: 13px;
		&-image{
			font-size: 14px;
			font-weight: 600;
			padding: 0px 10px;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
	&__size{
		width: 100%;
	    display: block;
	    position: absolute;
		bottom: 10px;
		font-weight: 600;
		font-size: 11px;
		    font-weight: 400;
		font-size: 14px;
		&-image{
			position: relative;
			padding: 0px 10px;
    	margin-bottom: 5px;
		}
	}
	&.regular{
		color: $text;
		&:before{
			content: "";
			border-color: black transparent;
			border-style: solid;
		    border-width: 14px 14px 0px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -1px;
		    top: 6px;
		    transform: rotate(45deg);
		}		
		&:after{
				content: "";
		    border-color: white transparent;
		    border-style: solid;
		    border-width: 0px 14px 14px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -11px;
		    top: -4px;
		    transform: rotate(45deg);
		}		
		.downloads__item__ext{

			color: $text;
		}
	}
	&.pdf{
		&:before{
			content: "";
			border-color: #FD0002 transparent;
			border-style: solid;
		    border-width: 14px 14px 0px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -1px;
		    top: 6px;
		    transform: rotate(45deg);
		}		
		&:after{
				content: "";
		    border-color: white transparent;
		    border-style: solid;
		    border-width: 0px 14px 14px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -11px;
		    top: -4px;
		    transform: rotate(45deg);
		}		
		.downloads__item__ext{

			color: #FD0002;
		}

	}
	&.xls{
		color: $text;
		&:before{
			content: "";
			border-color: black transparent;
			border-style: solid;
		    border-width: 14px 14px 0px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -1px;
		    top: 6px;
		    transform: rotate(45deg);
		}		
		&:after{
				content: "";
		    border-color: white transparent;
		    border-style: solid;
		    border-width: 0px 14px 14px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -11px;
		    top: -4px;
		    transform: rotate(45deg);
		}		
		&__ext{

			color: $text;
		}
	}
	
	
	&__text{
		color: $text;
	}
	&__size{
		color: $text;
	}
}
//catalog download items
.catalog-downloads{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.downloads__item{
		margin-right: 30px;
	}
}
.related-products{
	padding-top: 40px;
	a{
		text-decoration: none;
	}
}
.filter-button{
	display: none;
    p{
    	padding: 15px;
    	border: 1px solid #ebebeb;
    	cursor: pointer;
    	span{
    		font-weight: 600;
    		font-size: 14px;
    	}
    }
    @media only screen and (max-width: 768px){
    	display: block;
    }
}
.filter-back{
	display: none;
	width: 100%;
	height: 60px;
	background-color: $secondary;
    p{
    	padding:0px 15px;
    	font-weight: 600;
    	font-size: 14px;
    	line-height: 60px;
    	color: $white;
    	cursor: pointer;
    }
    @media only screen and (max-width: 768px){
    	display: block;
    }
}
.product-filter{
	&__heading{
		&__title{
			display: inline-block;
			color: $headingSmall;
			font-size: 18px
		}
		&__text{
			display: inline-block;
			position: absolute;
    		right: 20px;
		}
	}
	&__inner{
		.card-header{
			padding: 10px 0px;
			background-color: transparent;
			button{
				color: #242626;
				width: 100%;
				text-align: left;
				font-weight: 600;
			}
		}
	}
	&__contents{
		&__item{
			text-transform: uppercase;
    		letter-spacing: 1px;
    		color: #242626;
    		font-size: 12px;
    		position: relative;
    		    padding: 6px 10px;
    		label{
    			margin-bottom: 0px; 
    			line-height: 21px;
			    display: inline-flex;
				}
				&-child{
					padding-left: 40px;
				}
		}
	}
	@media only screen and (max-width: 768px){
		position: fixed;
	    top: 0;
	    width: 100%;
	    right: 0;
	    top: 0;
	    z-index: 9999;
	    background-color: #fff;
	    height: 100%;
	    transition: all 0.2s linear;
	    &.closed{
	    	right: 100vw;
	    }
	    &__heading{
	    	padding: 0px 15px;
	    	margin-top: 40px;
	    }
	    &__inner{
	    	padding: 0px 15px;
	    }
	}
	
}