<div class='progress-msg'>Tue, 17 Sep 2019 08:27:08 +0000</div>
<div class='progress-msg'>[08:27:08] Composing titles...</div>
<div class='progress-msg'>[08:27:08] Composing excerpts...</div>
<div class='progress-msg'>[08:27:08] Composing duplicate indicators...</div>
<div class='progress-msg'>[08:27:08] Composing authors...</div>
<div class='progress-msg'>[08:27:08] Composing slugs...</div>
<div class='progress-msg'>[08:27:08] Composing menu order...</div>
<div class='progress-msg'>[08:27:08] Composing contents...</div>
<div class='progress-msg'>[08:27:08] Composing dates...</div>
<div class='progress-msg'>[08:27:08] Composing terms for `Languages` taxonomy...</div>
<div class='progress-msg'>[08:27:08] Composing terms for `Product Categories` taxonomy...</div>
<div class='progress-msg'>[08:27:08] Composing terms for `Brand Categories` taxonomy...</div>
<div class='progress-msg'>[08:27:08] Composing custom parameters...</div>
<div class='progress-msg'>[08:27:08] Composing URLs for images...</div>
<div class='progress-msg'>[08:27:08] Composing URLs for attachments files...</div>
<div class='progress-msg'>[08:27:08] Composing unique keys...</div>
<div class='progress-msg'>[08:27:08] Processing posts...</div>
<div class='progress-msg'>[08:27:08] Data parsing via add-ons...</div>
<div class='progress-msg'>[08:27:08] ---</div>
<div class='progress-msg'>[08:27:08] Record #1</div>
<div class='progress-msg'>[08:27:08] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:08] Combine all data for post `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:08] Find corresponding article among previously imported for post `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:08] Duplicate post wasn't found with unique key `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:08] Applying filter `pmxi_article_data` for `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB`</div>
<div class='progress-msg'>[08:27:08] <b>CREATING</b> `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB` `Product`</div>
<div class='progress-msg'>[08:27:08] Associate post `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB` with current import ...</div>
<div class='progress-msg'>[08:27:08] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:08] - Importing image `http://adk.lv/mBildes/1202740241---502.jpg` for `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB` ...</div>
<div class='progress-msg'>[08:27:08] - Searching for existing image `http://adk.lv/mBildes/1202740241---502.jpg` by URL...</div>
<div class='progress-msg'>[08:27:08] - Search for existing image `1202740241-502.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:08] - <b>WARNING</b>: Image 1202740241-502.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:08] - Downloading image from `http://adk.lv/mBildes/1202740241---502.jpg`</div>
<div class='progress-msg'>[08:27:08] - Image `http://adk.lv/mBildes/1202740241---502.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:08] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740241-502.jpg`</div>
<div class='progress-msg'>[08:27:08] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:08] - Attachment with ID: `585` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740241-502.jpg`</div>
<div class='progress-msg'>[08:27:08] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:08] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:08] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:09] - Creating parent Product product-category `Individuālie darba aizsardzības līdzekļi` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:09] <b>CREATED</b> `3M 1120 Ausu aizbāžņi, oranži, SNR 34dB` `Product` (ID: 584)</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:09] ---</div>
<div class='progress-msg'>[08:27:09] Record #2</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:09] Combine all data for post `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:09] Find corresponding article among previously imported for post `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:09] Duplicate post wasn't found with unique key `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB`...</div>
<div class='progress-msg'>[08:27:09] Applying filter `pmxi_article_data` for `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB`</div>
<div class='progress-msg'>[08:27:09] <b>CREATING</b> `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB` `Product`</div>
<div class='progress-msg'>[08:27:09] Associate post `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB` with current import ...</div>
<div class='progress-msg'>[08:27:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing image `http://adk.lv/mBildes/1202740366------603.jpg` for `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB` ...</div>
<div class='progress-msg'>[08:27:09] - Searching for existing image `http://adk.lv/mBildes/1202740366------603.jpg` by URL...</div>
<div class='progress-msg'>[08:27:09] - Search for existing image `1202740366-603.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:09] - <b>WARNING</b>: Image 1202740366-603.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:09] - Downloading image from `http://adk.lv/mBildes/1202740366------603.jpg`</div>
<div class='progress-msg'>[08:27:09] - Image `http://adk.lv/mBildes/1202740366------603.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:09] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740366-603.jpg`</div>
<div class='progress-msg'>[08:27:09] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:09] - Attachment with ID: `587` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740366-603.jpg`</div>
<div class='progress-msg'>[08:27:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:09] <b>CREATED</b> `3M 1130 Ausu aizbāžņi ar aukliņu, oranži, SNR 34dB` `Product` (ID: 586)</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:09] ---</div>
<div class='progress-msg'>[08:27:09] Record #3</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:09] Combine all data for post `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB`...</div>
<div class='progress-msg'>[08:27:09] Find corresponding article among previously imported for post `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB`...</div>
<div class='progress-msg'>[08:27:09] Duplicate post wasn't found with unique key `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB`...</div>
<div class='progress-msg'>[08:27:09] Applying filter `pmxi_article_data` for `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB`</div>
<div class='progress-msg'>[08:27:09] <b>CREATING</b> `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB` `Product`</div>
<div class='progress-msg'>[08:27:09] Associate post `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB` with current import ...</div>
<div class='progress-msg'>[08:27:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing image `http://adk.lv/mBildes/1202740440------106.jpg` for `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB` ...</div>
<div class='progress-msg'>[08:27:09] - Searching for existing image `http://adk.lv/mBildes/1202740440------106.jpg` by URL...</div>
<div class='progress-msg'>[08:27:09] - Search for existing image `1202740440-106.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:09] - <b>WARNING</b>: Image 1202740440-106.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:09] - Downloading image from `http://adk.lv/mBildes/1202740440------106.jpg`</div>
<div class='progress-msg'>[08:27:09] - Image `http://adk.lv/mBildes/1202740440------106.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:09] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740440-106.jpg`</div>
<div class='progress-msg'>[08:27:09] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:09] - Attachment with ID: `589` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740440-106.jpg`</div>
<div class='progress-msg'>[08:27:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:09] <b>CREATED</b> `3M 1310 Ausu aizbāžņi ar stīpu, SNR 26dB` `Product` (ID: 588)</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:09] ---</div>
<div class='progress-msg'>[08:27:09] Record #4</div>
<div class='progress-msg'>[08:27:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:09] Combine all data for post `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu`...</div>
<div class='progress-msg'>[08:27:09] Find corresponding article among previously imported for post `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu`...</div>
<div class='progress-msg'>[08:27:09] Duplicate post wasn't found with unique key `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu`...</div>
<div class='progress-msg'>[08:27:09] Applying filter `pmxi_article_data` for `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu`</div>
<div class='progress-msg'>[08:27:09] <b>CREATING</b> `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu` `Product`</div>
<div class='progress-msg'>[08:27:09] Associate post `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu` with current import ...</div>
<div class='progress-msg'>[08:27:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing image `http://adk.lv/mBildes/1202740623---5051.jpg` for `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu` ...</div>
<div class='progress-msg'>[08:27:09] - Searching for existing image `http://adk.lv/mBildes/1202740623---5051.jpg` by URL...</div>
<div class='progress-msg'>[08:27:09] - Search for existing image `1202740623-5051.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:09] - <b>WARNING</b>: Image 1202740623-5051.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:09] - Downloading image from `http://adk.lv/mBildes/1202740623---5051.jpg`</div>
<div class='progress-msg'>[08:27:09] - Image `http://adk.lv/mBildes/1202740623---5051.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:09] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740623-5051.jpg`</div>
<div class='progress-msg'>[08:27:09] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:09] - Attachment with ID: `591` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202740623-5051.jpg`</div>
<div class='progress-msg'>[08:27:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:09] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:09] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:10] <b>CREATED</b> `3M 1311 Nomaināmie uzgaļi 1310 ausu aizbāznim ar stīpu` `Product` (ID: 590)</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:10] ---</div>
<div class='progress-msg'>[08:27:10] Record #5</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:10] Combine all data for post `3M Peltor Optime I Austiņas, SNR 27dB`...</div>
<div class='progress-msg'>[08:27:10] Find corresponding article among previously imported for post `3M Peltor Optime I Austiņas, SNR 27dB`...</div>
<div class='progress-msg'>[08:27:10] Duplicate post wasn't found with unique key `3M Peltor Optime I Austiņas, SNR 27dB`...</div>
<div class='progress-msg'>[08:27:10] Applying filter `pmxi_article_data` for `3M Peltor Optime I Austiņas, SNR 27dB`</div>
<div class='progress-msg'>[08:27:10] <b>CREATING</b> `3M Peltor Optime I Austiņas, SNR 27dB` `Product`</div>
<div class='progress-msg'>[08:27:10] Associate post `3M Peltor Optime I Austiņas, SNR 27dB` with current import ...</div>
<div class='progress-msg'>[08:27:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing image `http://adk.lv/mBildes/1202741269---4279.jpg` for `3M Peltor Optime I Austiņas, SNR 27dB` ...</div>
<div class='progress-msg'>[08:27:10] - Searching for existing image `http://adk.lv/mBildes/1202741269---4279.jpg` by URL...</div>
<div class='progress-msg'>[08:27:10] - Search for existing image `1202741269-4279.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:10] - <b>WARNING</b>: Image 1202741269-4279.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:10] - Downloading image from `http://adk.lv/mBildes/1202741269---4279.jpg`</div>
<div class='progress-msg'>[08:27:10] - Image `http://adk.lv/mBildes/1202741269---4279.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:10] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202741269-4279.jpg`</div>
<div class='progress-msg'>[08:27:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:10] - Attachment with ID: `593` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202741269-4279.jpg`</div>
<div class='progress-msg'>[08:27:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:10] <b>CREATED</b> `3M Peltor Optime I Austiņas, SNR 27dB` `Product` (ID: 592)</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:10] ---</div>
<div class='progress-msg'>[08:27:10] Record #6</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:10] Combine all data for post `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)`...</div>
<div class='progress-msg'>[08:27:10] Find corresponding article among previously imported for post `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)`...</div>
<div class='progress-msg'>[08:27:10] Duplicate post wasn't found with unique key `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)`...</div>
<div class='progress-msg'>[08:27:10] Applying filter `pmxi_article_data` for `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)`</div>
<div class='progress-msg'>[08:27:10] <b>CREATING</b> `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)` `Product`</div>
<div class='progress-msg'>[08:27:10] Associate post `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)` with current import ...</div>
<div class='progress-msg'>[08:27:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing image `http://adk.lv/mBildes/1202749217---137.jpg` for `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)` ...</div>
<div class='progress-msg'>[08:27:10] - Searching for existing image `http://adk.lv/mBildes/1202749217---137.jpg` by URL...</div>
<div class='progress-msg'>[08:27:10] - Search for existing image `1202749217-137.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:10] - <b>WARNING</b>: Image 1202749217-137.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:10] - Downloading image from `http://adk.lv/mBildes/1202749217---137.jpg`</div>
<div class='progress-msg'>[08:27:10] - Image `http://adk.lv/mBildes/1202749217---137.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:10] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202749217-137.jpg`</div>
<div class='progress-msg'>[08:27:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:10] - Attachment with ID: `595` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202749217-137.jpg`</div>
<div class='progress-msg'>[08:27:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:10] <b>CREATED</b> `3M 2742 Aizsargbrilles ar mīkstām, regulējamām kājiņām, dzeltenas (UV, AS, AF)` `Product` (ID: 594)</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:10] ---</div>
<div class='progress-msg'>[08:27:10] Record #7</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:10] Combine all data for post `3M 4277 Pusmaska ar ABE1P3 filtriem`...</div>
<div class='progress-msg'>[08:27:10] Find corresponding article among previously imported for post `3M 4277 Pusmaska ar ABE1P3 filtriem`...</div>
<div class='progress-msg'>[08:27:10] Duplicate post wasn't found with unique key `3M 4277 Pusmaska ar ABE1P3 filtriem`...</div>
<div class='progress-msg'>[08:27:10] Applying filter `pmxi_article_data` for `3M 4277 Pusmaska ar ABE1P3 filtriem`</div>
<div class='progress-msg'>[08:27:10] <b>CREATING</b> `3M 4277 Pusmaska ar ABE1P3 filtriem` `Product`</div>
<div class='progress-msg'>[08:27:10] Associate post `3M 4277 Pusmaska ar ABE1P3 filtriem` with current import ...</div>
<div class='progress-msg'>[08:27:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing image `http://adk.lv/mBildes/1202410582---UPF 3 - R.jpg` for `3M 4277 Pusmaska ar ABE1P3 filtriem` ...</div>
<div class='progress-msg'>[08:27:10] - Searching for existing image `http://adk.lv/mBildes/1202410582---UPF 3 - R.jpg` by URL...</div>
<div class='progress-msg'>[08:27:10] - Search for existing image `1202410582-UPF-3-R.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:10] - <b>WARNING</b>: Image 1202410582-UPF-3-R.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:10] - Downloading image from `http://adk.lv/mBildes/1202410582---UPF 3 - R.jpg`</div>
<div class='progress-msg'>[08:27:10] - Image `http://adk.lv/mBildes/1202410582---UPF 3 - R.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:10] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202410582-UPF-3-R.jpg`</div>
<div class='progress-msg'>[08:27:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:10] - Attachment with ID: `597` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202410582-UPF-3-R.jpg`</div>
<div class='progress-msg'>[08:27:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:10] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:10] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:10] <b>CREATED</b> `3M 4277 Pusmaska ar ABE1P3 filtriem` `Product` (ID: 596)</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:10] ---</div>
<div class='progress-msg'>[08:27:10] Record #8</div>
<div class='progress-msg'>[08:27:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:10] Combine all data for post `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:10] Find corresponding article among previously imported for post `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:10] Duplicate post wasn't found with unique key `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:10] Applying filter `pmxi_article_data` for `3M 9925 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:10] <b>CREATING</b> `3M 9925 Metināšanas respirators` `Product`</div>
<div class='progress-msg'>[08:27:11] Associate post `3M 9925 Metināšanas respirators` with current import ...</div>
<div class='progress-msg'>[08:27:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing image `http://adk.lv/mBildes/1202315592---Fladderi2.jpg` for `3M 9925 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:11] - Searching for existing image `http://adk.lv/mBildes/1202315592---Fladderi2.jpg` by URL...</div>
<div class='progress-msg'>[08:27:11] - Search for existing image `1202315592-Fladderi2.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:11] - <b>WARNING</b>: Image 1202315592-Fladderi2.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:11] - Downloading image from `http://adk.lv/mBildes/1202315592---Fladderi2.jpg`</div>
<div class='progress-msg'>[08:27:11] - Image `http://adk.lv/mBildes/1202315592---Fladderi2.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:11] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315592-Fladderi2.jpg`</div>
<div class='progress-msg'>[08:27:11] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:11] - Attachment with ID: `599` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315592-Fladderi2.jpg`</div>
<div class='progress-msg'>[08:27:11] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:11] <b>CREATED</b> `3M 9925 Metināšanas respirators` `Product` (ID: 598)</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:11] ---</div>
<div class='progress-msg'>[08:27:11] Record #9</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:11] Combine all data for post `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:11] Find corresponding article among previously imported for post `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:11] Duplicate post wasn't found with unique key `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:11] Applying filter `pmxi_article_data` for `3M 9928 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:11] <b>CREATING</b> `3M 9928 Metināšanas respirators` `Product`</div>
<div class='progress-msg'>[08:27:11] Associate post `3M 9928 Metināšanas respirators` with current import ...</div>
<div class='progress-msg'>[08:27:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing image `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg` for `3M 9928 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:11] - Searching for existing image `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg` by URL...</div>
<div class='progress-msg'>[08:27:11] - Search for existing image `1202315729-Abrazīvās-zvaigznes.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:11] - <b>WARNING</b>: Image 1202315729-Abrazīvās-zvaigznes.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:11] - Downloading image from `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg`</div>
<div class='progress-msg'>[08:27:11] - Image `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:11] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315729-Abrazīvās-zvaigznes.jpg`</div>
<div class='progress-msg'>[08:27:11] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:11] - Attachment with ID: `601` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315729-Abrazīvās-zvaigznes.jpg`</div>
<div class='progress-msg'>[08:27:11] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:11] <b>CREATED</b> `3M 9928 Metināšanas respirators` `Product` (ID: 600)</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:11] ---</div>
<div class='progress-msg'>[08:27:11] Record #10</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:11] Combine all data for post `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:11] Find corresponding article among previously imported for post `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:11] Duplicate post wasn't found with unique key `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:11] Applying filter `pmxi_article_data` for `3M 9913 Speciālizētais daļiņu respirators`</div>
<div class='progress-msg'>[08:27:11] <b>CREATING</b> `3M 9913 Speciālizētais daļiņu respirators` `Product`</div>
<div class='progress-msg'>[08:27:11] Associate post `3M 9913 Speciālizētais daļiņu respirators` with current import ...</div>
<div class='progress-msg'>[08:27:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing image `http://adk.lv/mBildes/1202315466---Fladderi.jpg` for `3M 9913 Speciālizētais daļiņu respirators` ...</div>
<div class='progress-msg'>[08:27:11] - Searching for existing image `http://adk.lv/mBildes/1202315466---Fladderi.jpg` by URL...</div>
<div class='progress-msg'>[08:27:11] - Search for existing image `1202315466-Fladderi.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:11] - <b>WARNING</b>: Image 1202315466-Fladderi.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:11] - Downloading image from `http://adk.lv/mBildes/1202315466---Fladderi.jpg`</div>
<div class='progress-msg'>[08:27:11] - Image `http://adk.lv/mBildes/1202315466---Fladderi.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:11] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315466-Fladderi.jpg`</div>
<div class='progress-msg'>[08:27:11] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:11] - Attachment with ID: `603` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315466-Fladderi.jpg`</div>
<div class='progress-msg'>[08:27:11] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:11] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:11] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:11] <b>CREATED</b> `3M 9913 Speciālizētais daļiņu respirators` `Product` (ID: 602)</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:11] ---</div>
<div class='progress-msg'>[08:27:11] Record #11</div>
<div class='progress-msg'>[08:27:11] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:11] Combine all data for post `3M 6000.sērijas  pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:11] Find corresponding article among previously imported for post `3M 6000.sērijas  pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:11] Duplicate post wasn't found with unique key `3M 6000.sērijas  pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:11] Applying filter `pmxi_article_data` for `3M 6000.sērijas  pusmaska M, L izmērs`</div>
<div class='progress-msg'>[08:27:11] <b>CREATING</b> `3M 6000.sērijas  pusmaska M, L izmērs` `Product`</div>
<div class='progress-msg'>[08:27:11] Associate post `3M 6000.sērijas  pusmaska M, L izmērs` with current import ...</div>
<div class='progress-msg'>[08:27:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:11] - Importing image `http://adk.lv/mBildes/1202398240---8835 S M.jpg` for `3M 6000.sērijas  pusmaska M, L izmērs` ...</div>
<div class='progress-msg'>[08:27:11] - Searching for existing image `http://adk.lv/mBildes/1202398240---8835 S M.jpg` by URL...</div>
<div class='progress-msg'>[08:27:11] - Search for existing image `1202398240-8835-S-M.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:11] - <b>WARNING</b>: Image 1202398240-8835-S-M.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:11] - Downloading image from `http://adk.lv/mBildes/1202398240---8835 S M.jpg`</div>
<div class='progress-msg'>[08:27:11] - Image `http://adk.lv/mBildes/1202398240---8835 S M.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:11] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202398240-8835-S-M.jpg`</div>
<div class='progress-msg'>[08:27:11] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:11] - Attachment with ID: `605` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202398240-8835-S-M.jpg`</div>
<div class='progress-msg'>[08:27:11] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:12] <b>CREATED</b> `3M 6000.sērijas  pusmaska M, L izmērs` `Product` (ID: 604)</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:12] ---</div>
<div class='progress-msg'>[08:27:12] Record #12</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:12] Combine all data for post `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai`...</div>
<div class='progress-msg'>[08:27:12] Find corresponding article among previously imported for post `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai`...</div>
<div class='progress-msg'>[08:27:12] Duplicate post wasn't found with unique key `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai`...</div>
<div class='progress-msg'>[08:27:12] Applying filter `pmxi_article_data` for `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai`</div>
<div class='progress-msg'>[08:27:12] <b>CREATING</b> `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai` `Product`</div>
<div class='progress-msg'>[08:27:12] Associate post `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai` with current import ...</div>
<div class='progress-msg'>[08:27:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing image `http://adk.lv/mBildes/1202410075---USC 9 - R.jpg` for `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai` ...</div>
<div class='progress-msg'>[08:27:12] - Searching for existing image `http://adk.lv/mBildes/1202410075---USC 9 - R.jpg` by URL...</div>
<div class='progress-msg'>[08:27:12] - Search for existing image `1202410075-USC-9-R.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:12] - <b>WARNING</b>: Image 1202410075-USC-9-R.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:12] - Downloading image from `http://adk.lv/mBildes/1202410075---USC 9 - R.jpg`</div>
<div class='progress-msg'>[08:27:12] - Image `http://adk.lv/mBildes/1202410075---USC 9 - R.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:12] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202410075-USC-9-R.jpg`</div>
<div class='progress-msg'>[08:27:12] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:12] - Attachment with ID: `607` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202410075-USC-9-R.jpg`</div>
<div class='progress-msg'>[08:27:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:12] <b>CREATED</b> `3M 6895 Filtra fiksators 6000.sērijas pusmaskai un pilnas sejas maskai` `Product` (ID: 606)</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:12] ---</div>
<div class='progress-msg'>[08:27:12] Record #13</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:12] Combine all data for post `3M 7500.sērijas pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:12] Find corresponding article among previously imported for post `3M 7500.sērijas pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:12] Duplicate post wasn't found with unique key `3M 7500.sērijas pusmaska M, L izmērs`...</div>
<div class='progress-msg'>[08:27:12] Applying filter `pmxi_article_data` for `3M 7500.sērijas pusmaska M, L izmērs`</div>
<div class='progress-msg'>[08:27:12] <b>CREATING</b> `3M 7500.sērijas pusmaska M, L izmērs` `Product`</div>
<div class='progress-msg'>[08:27:12] Associate post `3M 7500.sērijas pusmaska M, L izmērs` with current import ...</div>
<div class='progress-msg'>[08:27:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing image `http://adk.lv/mBildes/1202317233---8710.JPG` for `3M 7500.sērijas pusmaska M, L izmērs` ...</div>
<div class='progress-msg'>[08:27:12] - Searching for existing image `http://adk.lv/mBildes/1202317233---8710.JPG` by URL...</div>
<div class='progress-msg'>[08:27:12] - Search for existing image `1202317233-8710.JPG` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:12] - <b>WARNING</b>: Image 1202317233-8710.JPG not found in media gallery.</div>
<div class='progress-msg'>[08:27:12] - Downloading image from `http://adk.lv/mBildes/1202317233---8710.JPG`</div>
<div class='progress-msg'>[08:27:12] - Image `http://adk.lv/mBildes/1202317233---8710.JPG` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:12] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202317233-8710.JPG`</div>
<div class='progress-msg'>[08:27:12] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:12] - Attachment with ID: `609` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202317233-8710.JPG`</div>
<div class='progress-msg'>[08:27:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:12] <b>CREATED</b> `3M 7500.sērijas pusmaska M, L izmērs` `Product` (ID: 608)</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:12] ---</div>
<div class='progress-msg'>[08:27:12] Record #14</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:12] Combine all data for post `3M Aura 9310+ Daļļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Find corresponding article among previously imported for post `3M Aura 9310+ Daļļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Duplicate post wasn't found with unique key `3M Aura 9310+ Daļļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Applying filter `pmxi_article_data` for `3M Aura 9310+ Daļļiņu respirators`</div>
<div class='progress-msg'>[08:27:12] <b>CREATING</b> `3M Aura 9310+ Daļļiņu respirators` `Product`</div>
<div class='progress-msg'>[08:27:12] Associate post `3M Aura 9310+ Daļļiņu respirators` with current import ...</div>
<div class='progress-msg'>[08:27:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing image `http://adk.lv/mBildes/1202310629---Kombinētie nobeiguma apstrādes cilindri KNC2.jpg` for `3M Aura 9310+ Daļļiņu respirators` ...</div>
<div class='progress-msg'>[08:27:12] - Searching for existing image `http://adk.lv/mBildes/1202310629---Kombinētie nobeiguma apstrādes cilindri KNC2.jpg` by URL...</div>
<div class='progress-msg'>[08:27:12] - Search for existing image `1202310629-Kombinētie-nobeiguma-apstrādes-cilindri-KNC2.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:12] - <b>WARNING</b>: Image 1202310629-Kombinētie-nobeiguma-apstrādes-cilindri-KNC2.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:12] - Downloading image from `http://adk.lv/mBildes/1202310629---Kombinētie nobeiguma apstrādes cilindri KNC2.jpg`</div>
<div class='progress-msg'>[08:27:12] - Image `http://adk.lv/mBildes/1202310629---Kombinētie nobeiguma apstrādes cilindri KNC2.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:12] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202310629-Kombinētie-nobeiguma-apstrādes-cilindri-KNC2.jpg`</div>
<div class='progress-msg'>[08:27:12] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:12] - Attachment with ID: `611` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202310629-Kombinētie-nobeiguma-apstrādes-cilindri-KNC2.jpg`</div>
<div class='progress-msg'>[08:27:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:12] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:12] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:12] <b>CREATED</b> `3M Aura 9310+ Daļļiņu respirators` `Product` (ID: 610)</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:12] ---</div>
<div class='progress-msg'>[08:27:12] Record #15</div>
<div class='progress-msg'>[08:27:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:12] Combine all data for post `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Find corresponding article among previously imported for post `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Duplicate post was found for post 3M 9913 Speciālizētais daļiņu respirators with unique key `3M 9913 Speciālizētais daļiņu respirators`...</div>
<div class='progress-msg'>[08:27:12] Deleting attachments for `3M 9913 Speciālizētais daļiņu respirators`</div>
<div class='progress-msg'>[08:27:12] Deleting images for `3M 9913 Speciālizētais daļiņu respirators`</div>
<div class='progress-msg'>[08:27:12] Applying filter `pmxi_article_data` for `3M 9913 Speciālizētais daļiņu respirators`</div>
<div class='progress-msg'>[08:27:12] <b>UPDATING</b> `3M 9913 Speciālizētais daļiņu respirators` `Product`</div>
<div class='progress-msg'>[08:27:12] Associate post `3M 9913 Speciālizētais daļiņu respirators` with current import ...</div>
<div class='progress-msg'>[08:27:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing image `http://adk.lv/mBildes/1202315466---Fladderi.jpg` for `3M 9913 Speciālizētais daļiņu respirators` ...</div>
<div class='progress-msg'>[08:27:13] - Searching for existing image `http://adk.lv/mBildes/1202315466---Fladderi.jpg` by URL...</div>
<div class='progress-msg'>[08:27:13] - Using existing image `1202315466-Fladderi.jpg` for post `3M 9913 Speciālizētais daļiņu respirators` ...</div>
<div class='progress-msg'>[08:27:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:13] - Attachment with ID: `603` has been successfully updated for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315466-Fladderi.jpg`</div>
<div class='progress-msg'>[08:27:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:13] <b>UPDATED</b> `3M 9913 Speciālizētais daļiņu respirators` `Product` (ID: 602)</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:13] ---</div>
<div class='progress-msg'>[08:27:13] Record #16</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:13] Combine all data for post `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Find corresponding article among previously imported for post `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Duplicate post was found for post 3M 9925 Metināšanas respirators with unique key `3M 9925 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Deleting attachments for `3M 9925 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] Deleting images for `3M 9925 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] Applying filter `pmxi_article_data` for `3M 9925 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] <b>UPDATING</b> `3M 9925 Metināšanas respirators` `Product`</div>
<div class='progress-msg'>[08:27:13] Associate post `3M 9925 Metināšanas respirators` with current import ...</div>
<div class='progress-msg'>[08:27:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing image `http://adk.lv/mBildes/1202315592---Fladderi2.jpg` for `3M 9925 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:13] - Searching for existing image `http://adk.lv/mBildes/1202315592---Fladderi2.jpg` by URL...</div>
<div class='progress-msg'>[08:27:13] - Using existing image `1202315592-Fladderi2.jpg` for post `3M 9925 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:13] - Attachment with ID: `599` has been successfully updated for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315592-Fladderi2.jpg`</div>
<div class='progress-msg'>[08:27:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:13] <b>UPDATED</b> `3M 9925 Metināšanas respirators` `Product` (ID: 598)</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:13] ---</div>
<div class='progress-msg'>[08:27:13] Record #17</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:13] Combine all data for post `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Find corresponding article among previously imported for post `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Duplicate post was found for post 3M 9928 Metināšanas respirators with unique key `3M 9928 Metināšanas respirators`...</div>
<div class='progress-msg'>[08:27:13] Deleting attachments for `3M 9928 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] Deleting images for `3M 9928 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] Applying filter `pmxi_article_data` for `3M 9928 Metināšanas respirators`</div>
<div class='progress-msg'>[08:27:13] <b>UPDATING</b> `3M 9928 Metināšanas respirators` `Product`</div>
<div class='progress-msg'>[08:27:13] Associate post `3M 9928 Metināšanas respirators` with current import ...</div>
<div class='progress-msg'>[08:27:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing image `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg` for `3M 9928 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:13] - Searching for existing image `http://adk.lv/mBildes/1202315729---Abrazīvās zvaigznes.jpg` by URL...</div>
<div class='progress-msg'>[08:27:13] - Using existing image `1202315729-Abrazīvās-zvaigznes.jpg` for post `3M 9928 Metināšanas respirators` ...</div>
<div class='progress-msg'>[08:27:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:13] - Attachment with ID: `601` has been successfully updated for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202315729-Abrazīvās-zvaigznes.jpg`</div>
<div class='progress-msg'>[08:27:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product product-category `Individuālie darba aizsardzības līdzekļi`, duplicate detected. Importing Product to existing `Individuālie darba aizsardzības līdzekļi` product-category, ID 35, slug `individualie-darba-aizsardzibas-lidzekli` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:13] <b>UPDATED</b> `3M 9928 Metināšanas respirators` `Product` (ID: 600)</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:13] ---</div>
<div class='progress-msg'>[08:27:13] Record #18</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:13] Combine all data for post `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls`...</div>
<div class='progress-msg'>[08:27:13] Find corresponding article among previously imported for post `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls`...</div>
<div class='progress-msg'>[08:27:13] Duplicate post wasn't found with unique key `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls`...</div>
<div class='progress-msg'>[08:27:13] Applying filter `pmxi_article_data` for `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls`</div>
<div class='progress-msg'>[08:27:13] <b>CREATING</b> `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls` `Product`</div>
<div class='progress-msg'>[08:27:13] Associate post `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls` with current import ...</div>
<div class='progress-msg'>[08:27:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing image `http://adk.lv/mBildes/1202308064---Scotch Brite nobeiguma apstrādes diski.jpg` for `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls` ...</div>
<div class='progress-msg'>[08:27:13] - Searching for existing image `http://adk.lv/mBildes/1202308064---Scotch Brite nobeiguma apstrādes diski.jpg` by URL...</div>
<div class='progress-msg'>[08:27:13] - Search for existing image `1202308064-Scotch-Brite-nobeiguma-apstrādes-diski.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:13] - <b>WARNING</b>: Image 1202308064-Scotch-Brite-nobeiguma-apstrādes-diski.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:13] - Downloading image from `http://adk.lv/mBildes/1202308064---Scotch Brite nobeiguma apstrādes diski.jpg`</div>
<div class='progress-msg'>[08:27:13] - Image `http://adk.lv/mBildes/1202308064---Scotch Brite nobeiguma apstrādes diski.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:13] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202308064-Scotch-Brite-nobeiguma-apstrādes-diski.jpg`</div>
<div class='progress-msg'>[08:27:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:13] - Attachment with ID: `613` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1202308064-Scotch-Brite-nobeiguma-apstrādes-diski.jpg`</div>
<div class='progress-msg'>[08:27:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product product-category `Abrazīvie materiāli`, duplicate detected. Importing Product to existing `Abrazīvie materiāli` product-category, ID 13, slug `abrazivie-materiali` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product brand-category `3M`, duplicate detected. Importing Product to existing `3M` brand-category, ID 21, slug `3m` ...</div>
<div class='progress-msg'>[08:27:13] <b>CREATED</b> `3M Scotch Brite WR-RL nobeiguma apstrādes materiāls` `Product` (ID: 612)</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:13] ---</div>
<div class='progress-msg'>[08:27:13] Record #19</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:13] Combine all data for post `Abrazīvā auduma lente no 3M Trizact 237AA materiāla`...</div>
<div class='progress-msg'>[08:27:13] Find corresponding article among previously imported for post `Abrazīvā auduma lente no 3M Trizact 237AA materiāla`...</div>
<div class='progress-msg'>[08:27:13] Duplicate post wasn't found with unique key `Abrazīvā auduma lente no 3M Trizact 237AA materiāla`...</div>
<div class='progress-msg'>[08:27:13] Applying filter `pmxi_article_data` for `Abrazīvā auduma lente no 3M Trizact 237AA materiāla`</div>
<div class='progress-msg'>[08:27:13] <b>CREATING</b> `Abrazīvā auduma lente no 3M Trizact 237AA materiāla` `Product`</div>
<div class='progress-msg'>[08:27:13] Associate post `Abrazīvā auduma lente no 3M Trizact 237AA materiāla` with current import ...</div>
<div class='progress-msg'>[08:27:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing image `http://adk.lv/mBildes/1181567212---gaisma tuneļa galā.jpg` for `Abrazīvā auduma lente no 3M Trizact 237AA materiāla` ...</div>
<div class='progress-msg'>[08:27:13] - Searching for existing image `http://adk.lv/mBildes/1181567212---gaisma tuneļa galā.jpg` by URL...</div>
<div class='progress-msg'>[08:27:13] - Search for existing image `1181567212-gaisma-tuneļa-galā.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:13] - <b>WARNING</b>: Image 1181567212-gaisma-tuneļa-galā.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:13] - Downloading image from `http://adk.lv/mBildes/1181567212---gaisma tuneļa galā.jpg`</div>
<div class='progress-msg'>[08:27:13] - Image `http://adk.lv/mBildes/1181567212---gaisma tuneļa galā.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:13] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1181567212-gaisma-tuneļa-galā.jpg`</div>
<div class='progress-msg'>[08:27:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:13] - Attachment with ID: `615` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1181567212-gaisma-tuneļa-galā.jpg`</div>
<div class='progress-msg'>[08:27:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:13] - Attempted to create parent Product product-category `Abrazīvie materiāli`, duplicate detected. Importing Product to existing `Abrazīvie materiāli` product-category, ID 13, slug `abrazivie-materiali` ...</div>
<div class='progress-msg'>[08:27:13] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:13] - Creating parent Product brand-category `ADK` ...</div>
<div class='progress-msg'>[08:27:13] <b>CREATED</b> `Abrazīvā auduma lente no 3M Trizact 237AA materiāla` `Product` (ID: 614)</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:27:13] ---</div>
<div class='progress-msg'>[08:27:13] Record #20</div>
<div class='progress-msg'>[08:27:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:27:13] Combine all data for post `Abrazīvā auduma lente no 3M Cubitron 777F materiāla`...</div>
<div class='progress-msg'>[08:27:13] Find corresponding article among previously imported for post `Abrazīvā auduma lente no 3M Cubitron 777F materiāla`...</div>
<div class='progress-msg'>[08:27:14] Duplicate post wasn't found with unique key `Abrazīvā auduma lente no 3M Cubitron 777F materiāla`...</div>
<div class='progress-msg'>[08:27:14] Applying filter `pmxi_article_data` for `Abrazīvā auduma lente no 3M Cubitron 777F materiāla`</div>
<div class='progress-msg'>[08:27:14] <b>CREATING</b> `Abrazīvā auduma lente no 3M Cubitron 777F materiāla` `Product`</div>
<div class='progress-msg'>[08:27:14] Associate post `Abrazīvā auduma lente no 3M Cubitron 777F materiāla` with current import ...</div>
<div class='progress-msg'>[08:27:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:27:14] - Importing image `http://adk.lv/mBildes/1181567212---dieviņš skatās uz čausi.jpg` for `Abrazīvā auduma lente no 3M Cubitron 777F materiāla` ...</div>
<div class='progress-msg'>[08:27:14] - Searching for existing image `http://adk.lv/mBildes/1181567212---dieviņš skatās uz čausi.jpg` by URL...</div>
<div class='progress-msg'>[08:27:14] - Search for existing image `1181567212-dieviņš-skatās-uz-čausi.jpg` by `_wp_attached_file` ...</div>
<div class='progress-msg'>[08:27:14] - <b>WARNING</b>: Image 1181567212-dieviņš-skatās-uz-čausi.jpg not found in media gallery.</div>
<div class='progress-msg'>[08:27:14] - Downloading image from `http://adk.lv/mBildes/1181567212---dieviņš skatās uz čausi.jpg`</div>
<div class='progress-msg'>[08:27:14] - Image `http://adk.lv/mBildes/1181567212---dieviņš skatās uz čausi.jpg` has been successfully downloaded</div>
<div class='progress-msg'>[08:27:14] - Creating an attachment for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1181567212-dieviņš-skatās-uz-čausi.jpg`</div>
<div class='progress-msg'>[08:27:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[08:27:14] - Attachment with ID: `617` has been successfully created for image `http://adk-lv-www.localtest.me/wp-content/uploads/2019/09/1181567212-dieviņš-skatās-uz-čausi.jpg`</div>
<div class='progress-msg'>[08:27:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[08:27:14] - Importing taxonomy `language` ...</div>
<div class='progress-msg'>[08:27:14] - Importing taxonomy `product-category` ...</div>
<div class='progress-msg'>[08:27:14] - Attempted to create parent Product product-category `Abrazīvie materiāli`, duplicate detected. Importing Product to existing `Abrazīvie materiāli` product-category, ID 13, slug `abrazivie-materiali` ...</div>
<div class='progress-msg'>[08:27:14] - Importing taxonomy `brand-category` ...</div>
<div class='progress-msg'>[08:27:14] - Attempted to create parent Product brand-category `ADK`, duplicate detected. Importing Product to existing `ADK` brand-category, ID 37, slug `adk` ...</div>
<div class='progress-msg'>[08:27:14] <b>CREATED</b> `Abrazīvā auduma lente no 3M Cubitron 777F materiāla` `Product` (ID: 616)</div>
<div class='progress-msg'>[08:27:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:27:14] <b>ACTION</b>: pmxi_after_post_import</div>
