.pager{
    width: 100%;
    font-family:$main-font;
    font-weight: bold;
    font-size:11px;
    &__list{
        display:inline-block;
        padding-left:1px;
        text-align:center;
    }
    &__item{
        float:left;
        margin-left:-1px;
        list-style: none;
        a, span{
            display:block;
            border:1px solid $white;
            width:38px;
            height:38px;
            line-height:36px;
            position:relative;
            z-index:2;
            color: $textDark;
            &:hover{
                background:$secondary;
                color:$white;
                border-color:$secondary;
            }
        }
        &.active a, span{
            color:$secondary;
            background:$white;
            border-color:transparent;
            z-index:1;
            cursor:default;
        }
        .dots{
            color: $textDark;
            :hover{
                color:$white;
            }
        }
    }
    &__dots{
        line-height:38px;
        float:left;
        padding:0 7px;
        font-size:13px;
        cursor:default;
    }
    .prev{
        svg{
            transform: rotate(180deg);
        }
    }
    .prev, .next{
        &:hover{
            svg{
                g{
                    fill: #fff;
                }
            }
        }
    }
}