@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
/*COLORS*/
$white: #fff;
$black: #000000;
$main: #66615D;
$secondary: #C53027;
$gray: #F7F7F7;
$textDark: #666666;
$lighterText: #7D7D7D;
$border_color: #E9E9E9;
$text: #666666;
$headingSmall: #242626;

$main-font: 'Montserrat', sans-serif;
/* Typography */
a{
	&:hover{
		text-decoration: none;
	}
}
h1{

}
h2{
	font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
h3{

}
.text{
	font-size:13px;
	color: $text;
}
.card-body{
	table{
		color: #2E2013;
		font-weight: 500;
		font-size: 12px;
		p, span, strong{
			font-family: Arial, Helvetica, sans-serif;
		}
		td{
			text-align: center;
			padding: 5px;
			font-family: "Arial, serfif";
			font-size: 12px;
		}
		tr:nth-child(odd){
			background: #e6e6e6;
		}
		td:nth-child(2){
			padding-left: 30px;
		}
		tr:first-child {
			background: #808080;
			font-weight: 600;
			font-size: 12px;
			color: #fff;
			td{
				background: #b3b3b3;
				text-align: center !important;
				font-weight: 600;
				font-size: 12px;
				p{
					text-align: center;
					padding-left: 0px;
				}
			}
		}
		.oddrow{
			
		}
	}
}
.link{
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	&--grey{
		color: #242626;
		&:hover{
			color: $secondary;
		}
	}
}
.hidden{
	display: none;
}
*{
	font-family: 'Montserrat', sans-serif;
}
.overlay{
	transition: all 0.2s linear;
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}
.wrap{
	padding-top: 64px;
}
.entry-content{
	max-width: 800px;
	margin: auto;
	p{
		color: $text;
	    font-size: 15px;
	}
	&__featured-image{
	    height: 350px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 40px;
	    margin-top: 50px;
	}
}
.notfound-page{
    padding-top: 30px;
    text-align: center;
    h1{
    	font-size: 110px;
    	color: $main;
    }
    h3{
    	margin-bottom: 30px;
    	color: $secondary;
    }
}
@media (min-width: 992px){
	.container{
		max-width: 1100px;
	}
}