
.template-contacts{
	footer{
		margin-top: 0px;
	}
}
.contacts{
	padding-bottom: 50px;
	&__title{
		padding-top: 50px;
	    margin-bottom: 50px;
	    text-align: center;
	}
	&__map{
		&__wrap{
			height: 500px;
		}
	}
}
.general{
	&__container{
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 50px;
		&:first-child{
			border-right: 1px solid #e9e9e9;
		}
	}
	&__content{
		height: 100%;
		&__item{
			text-align: center;
		}
		&__title{
			font-weight: 600;
		    font-size: 14px;
		    margin-bottom: 10px;
		    margin-top: 10px;
		}
		&__text{
			font-size: 13px;
    		color: #777777;
		}
	}
}
.contacts-section-2{
	.team{
		text-align: center;
		margin-bottom: 50px;
		&__image{
		    background-size: cover;
		    width: 90px;
		    height: 90px;
		    background-repeat: no-repeat;
		    border-radius: 50%;
		    background-position-x: center;
		    position: absolute;
		    left: 50%;
    		transform: translateX(-50%);
    		&--happy{
			 	opacity: 1;
		    }
		    &--sad{
		    	opacity: 0;
		    }
    		&__wrap{
    			position: absolute;
			    width: 90px;
			    height: 90px;
			    z-index: 1;
			    left: 50%;
    			transform: translateX(-50%);
    			&:hover{
    				.team__image--happy{
    					opacity: 0;
    				}
    				.team__image--sad{
    					opacity: 1;
    				}
    			}
    		}
		    

		    

		}
		&__pos{
			font-size: 13px;
			color: #777777;
			margin-top: 100px;
    		margin-bottom: 5px;
		}
		&__name{
			font-size: 14px;
			font-weight: 600;
			color:#000;
			margin-bottom: 5px;
		}
		&__phone{
			font-size: 13px;
			color: #777777;
		}
		&__email{
			font-size: 13px;
			font-weight: 600;
			text-decoration: underline;
			color: $secondary;
			 display: block;
		}
	}
	.button-container{
		text-align: right !important;
		padding:0px;
	}
}