.footer{
    background-color: #66615D;
    margin-top: 100px;
	&__menu{
		padding-top: 60px;
		ul{
			padding: 0
		}
		&__title{
    		color: #fff;
    		 font-weight: 400;
		    text-transform: uppercase;
		    font-size: 13px;
		}
		&__item{
			color: #C4BFBF;
    		list-style: none;
    		font-size: 13px;
    		font-weight: 600;
    		padding: 3px 0px;
    		a{
    			color: #C4BFBF;
    			&:hover{
    				color: #fff;
    			}
    		}
		}
	}
	.footer-bottom{
		background-color: #554E48;
		font-size: 12px;
		  color: #c3bdbd;
		&__design{
			display: block;
		    float: right;
		    width: 50%;
		    text-align: right;
		    padding-top: 15px;
		}
		&__copy{
			display: block;
		    float: left;
		    width: 50%;
		    text-align: left;
		    padding-top: 15px;
		}
	}
}