
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  .navigation {
    padding: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    &__top{
      text-align: center;
      position: relative;
      padding: 20px 0px 0px 0px;
    }
  }
  &.header--scrolled{
    .navigation{
      background-color: $white;
    }
  }
  .navbar-brand {
    padding: 0;
    margin-right: 0px;
    display: none;
  }
  .menu{
    text-align: center;
    padding: 20px 0px;
    padding-left: 160px;
    div{
      display: inline-block;
    }
    &__right{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding-right: 50px;
      .info_menu{ 
        display: inline-block;
        position: relative;
        height: 100%;
        &__phone{
          color: #000;
          font-weight: 600;
          font-size: 14px;
          display: inline-block;
          a{
            color: #000;
          }
        }
        &__email{
          display: inline-block;
          font-weight: 600;
          font-size: 14px;
          margin-right: 5px;
          a{
            color: $secondary;
          }
        }
        &__inner{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          min-width: 200px;
          right: 50px;
        }
        p{
          margin: 0;
        }
      }
    }
    .menu-item{
      a{
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0px 10px;
        letter-spacing: 0.5px;
        position: relative;
        transition: color 0.1s ease-out;
        &:hover{
          color: #000;
          text-decoration: none;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          bottom: -7px;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: $black;
          transform-origin: right top;
          transform: scale(0, 1);
          transition: color 0.1s,transform 0.2s ease-out;
        }
        &:hover::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }

        &.current-menu-item{
          a{
            &:before{
              content: '';
              display: block;
              position: absolute;
              bottom: -7px;
              left: 0;
              height: 3px;
              width: 100%;
              background-color: $black;
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
    }
  }
  .main-nav-container{
    background-color: transparent;
    width: 100%;
    .container{
      //width: 100%;
      max-width: unset;
      height: 64px;
    }
    .navbar-brand{
     height: 100%;
      display: inline-block;
      position: absolute;
      height: 120px;
      img{
        height: 100%;
      }
    }
    .menu{
      display: inline-block;
    }
    .lang_menu{
      position: absolute;
      display: inline-block;
      line-height: 64px;
      height: 100%;
      min-width: 70px;
    }
    .hamburger{
      display: none;
      z-index: 200;
    }
  }

  &.header--scrolled{
    .main-nav-container{
  
      .navbar-brand{
      
      
      }
      .menu{

      }
      .lang_menu{
        
      }
    }
  }

}
.admin-bar{

  header{
      top: 32px !important;
  }

}
.lang_menu{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    .lang-item{
      list-style: none;
      display: inline-block;
      opacity: 0.5;
      transition: all 0.1s ease-in-out;
      &.current-lang{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
      a{
        display: block;
        color: #000;
        font-weight: 600;
        font-size: 13px;
        &:hover{
          text-decoration: none;
        }
        img{
          border-radius: 100%;
          width: 25px;
          height: 25px;
          border:2px solid #fff;
        }
      }
    }
}
@media only screen and (max-width: 998px){
  header{
    .navbar-brand{
      height: unset;
    }
    .navigation__top{
      display: none;
    }
    .main-nav-container{
      position: fixed;
      top: 0;
      background-color: $main;
      .navbar-brand{
        display: inline-block;
        z-index: 200;
        
      }
      .menu{
        visibility: hidden;
        transition: all 0.2s linear;
        margin-top: -100vh;
        z-index: 100;
      }
      .menu__right{
        position: absolute;
        width: 100%;
        .lang_menu{
          z-index: 150;
          display: inline-block;
          visibility: hidden;
          margin-top: -100vh;
          transition: all 0.2s linear;
        }
        .info_menu{
          position: absolute;
        }
      }
      .menu-overlay{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 170;
      }
    }
    &.menu-open{
      .main-nav-container{
        .menu{
          visibility: visible;
          margin-top: 0vh;
        }
        .lang_menu{
          visibility: visible;
          margin-top: 0vh;
        }
      }
    }
    .info_menu{
      z-index: 1000;
    }

    .main-nav-container{
      width: 100%;
      z-index: 100;
      .container{
        width: 100%;
        max-width: unset;
        height: 64px;
        padding-left: 0;
      }
      .navbar-brand{
        line-height: 64px;
        position: absolute;
        img{
          height: 60px;
          top: 0;
          position: absolute;
          z-index: 99999;
        }
      }
      .menu{
        width: 100%;
        position: absolute;
        top: 64px;
        height: 100vh;
        background-color: #fff;
        left: 0;
        padding-left: 0px;
        ul{
          display: block;
          li{
            a{
              line-height: 40px;
            }
          }
        }
        div{
          padding-top: 50px;
        }
      }
      .lang_menu{
        top: 64px;
        width: 100%;
        text-align: center;
        left: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .hamburger{
        display: block;
        position: absolute;
        right: 0px;
        line-height: 35px;
      }
    }
  }
}