 .dots {
        
        .slick-dots {
            display: inline-block;
            vertical-align: top;
            padding:0;
            margin:0;
            bottom: 5px;
        }
        
        li {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #e4e4e4;
            padding: 0;
            margin: 6px;
            border: 2px solid transparent;
            text-indent: -9999px;
            cursor: pointer;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            button{
                opacity: 0;
            }
            &.slick-active,
            &:hover { 
                border: 2px solid $secondary;
                background-color:  $secondary;
            }
        }
    }

.hero{
    height:35vw;
    overflow:hidden;
    line-height:35vw;
    margin-bottom: 0px !important;
    &__link{
        text-decoration: none;
    }
    &__item{
        height:35vw;
        background:transparent no-repeat center center;
        background-size:cover;
        position:relative;
        z-index: -1;
        &:before{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            content:'';
            background: #2f2924;
            opacity: 0.7;
            z-index: -1;
        }
        &__inner{
            line-height:1.5;
            display:inline-block;
            vertical-align:middle;
            width: 500px;
        }
    }

    .button{
        margin-top:20px;
    }

    &__link{
        &:hover{
            text-decoration:none;
        }
    }

    &__title{
        color: #fff;
        font-size: 34px;
        line-height:50px;
        font-weight:bold;
        text-transform:uppercase;
    
    }

    &__text{
        color: #fff;
        font-size: 18px;
        line-height:30px;
    
    }
    .slick-list{
        height: 100% !important;   
    }
    .slick-track{
        height: 100%;
    }
    &__dots {
        margin: 0;
        text-align: center;
        bottom: 20px;
        left: 20px;
        right:20px;
        position: absolute;
        line-height:20px;
    }
    @media only screen and (max-width: 768px){
        height: calc(100vh - 64px);
        &__item{
            &__inner{
                width: 100%;
                margin-top: 80px;
            }
        }
        &__title{
            font-size: 28px;
            line-height: 33px;
        }
    }
}

.product-categories{
    background-color: $gray;
    .col-sm-3{
        padding: 0;
    }
    a{
        text-decoration: none;
    }
    &__title{
        margin:0px;
        color: #777777;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
    }
    &__item{
        padding: 30px;
        text-align: center;
        height: 100%;
        transition: all 0.2s linear;
        img{
            margin-bottom: 15px;
            height: 45px;
        }
        svg{
            height: 50px;
        }
        &:hover{
            background-color: #fff;
            &__title{
                text-decoration: none;
            }
        }
       &.active{
            background-color: #fff;
           .product-categories__title{
                color: $secondary;
           }
           svg{
                g{
                    fill: $secondary;
                }
            color: $secondary;
           }

        }
    }
    .row{
        margin: 0;
    }
   
}

.block{
    &__heading{
        padding: 20px 0px;
        h2{
            line-height: 70px;
            margin: 0;
        }
        &__left{
            line-height: 70px;
            text-align: left;
        }
        &__right{
            line-height: 70px;
            text-align: right;
        }
    }
    @media only screen and (max-width: 768px){
        &__heading{
             padding: 50px 0px;
             h2{
                line-height: 30px;
             }
             &__right{
                line-height: 0;
                .button--read-more{
                    position: absolute;
                    top: 50%;
                    RIGHT: 15PX;
                    transform: translateY(-50%);
                }
             }
        }
    }
}

.solutions{
    .slider_paging{
        position: absolute;
        margin-right: 0px;
        padding: 26px;
        background-color: #f7f7f7;
        top: 0;
        right: 0;
        font-weight: 700;
        &__first{
            color: $secondary;
        }
        &__last{
            color: $textDark;
        }
    }
    &__slider{
        margin-bottom: 0px !important;
        padding-bottom: 75px;
        border-bottom: 1px solid #f7f7f7;
        .col-sm-6{
            background-color: $gray;
        }
        .slick-arrow{
            z-index: 90;
        }
        @media only screen and (max-width: 768px){
            .row{
                margin: 0 !important;
            }
        }
        &__item{
            &__info{
                padding: 0px 75px 0px 40px;
            }
            &__image{
                height: 420px;
                background-size: cover;
                background-position: center;
            }
            h3{
                padding-top: 70px;
                padding-bottom: 40px;
                color: $secondary;
                font-weight: 700;
                font-size: 30px;
            }
            p{
                color: $text;
                font-size: 13px;
            }
        }
    }
    &__dots {
        margin: 0;
        text-align: center;
        bottom: 20px;
        left: 20px;
        right:20px;
        position: absolute;
        line-height:20px;
        
    }
    @media only screen and (max-width: 768px){
        padding: 0;
        .block__heading{
             padding: 30px 15px;
        }
        &__slider{
            &__item{
                h3{
                    font-size: 24px;
                    padding-top: 40px;
                    padding-bottom: 20px;
                }
                .col-sm-6{
                    padding: 0;
                }
                &__image{
                    width: 100%;
                    height: 260px;

                }
                &__info{
                    padding: 0 40px 40px 40px;
                }
            }
        }
        .slick-next, .slick-prev {
            top: 110px;
        }
    }
}
.facts{
    &__short{
    font-size: 13px;
    line-height: 24px;
    color: #777777;
    }
    &__list{
        padding: 15px 0px;
        &__item{
            &__number{
               position: relative;
                float: left;
                &__inner{
                    height: 80px;
                    width: 80px;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 24px;
                    border-radius: 50%;
                    background: $secondary;
                    font-size: 22px;
                    color: #fff;
                    font-weight: 600;
                    border: 5px solid $secondary;
                }

            }
            &__desc{
                padding-left: 110px;
                &__text{
                    font-size: 13px;
                }
                &__title{
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    color: #000;
                }
            }
        }
    }
    &__image{
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

}
.partners{
    padding-top: 50px;
    &__short{
        font-size: 13px;
        line-height: 24px;
        color: #777777;
        width: 600px;
        text-align: center;
        margin: auto;
        @media only screen and (max-width: 768px){
            width: 100%;
            margin-top: 10px;
        }
    }
    .block{
        &__heading{
            padding: 0;
            h2{
                text-align: center;
            }
        }
    }
    &__list{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        &__item{
  
            img{
                height: 29px;
                filter: grayscale(1);
                margin: 10px;
            }
        }
    }
}