.archive{
	.page-header{
		margin-bottom: 0px;
	}
}
.page-header{
	text-align: center;
	margin-bottom: 50px;
	&__title{
		font-size: 34px;
    	font-weight: 600;
    	border-bottom: 1px solid $border_color;
		padding-bottom:40px;
		padding-top: 100px;
	}
}

.breadcrumbs{
	padding: 0;
	margin-top: 30px;
    margin-bottom: 15px;
    font-size: 13px;
	&__item{
		display: inline-block;
		list-style: none;
		a{
			color: $lighterText;
		}
	}
	&__separator{
		display: inline-block;
		list-style: none;
	}
}